<div class="container space-2">
  <!-- Title -->
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class=" mb-4">
        <h2 class="text-primary font-weight-normal">Thank you! <span class="font-weight-semi-bold"><%= @practice.practice_name %></span> have received your submission. </h2>
        <p>Due to the increased volume of phone and email queries about  Coronavirus testing in light of broadening of testing criteria announced by the HSE - we are now asking symptomatic patients to fill out the following questionnaire to help us assess you more efficiently. </p>
        <p>We understand our patients are concerned for themselves and their loved ones and we can assure you we are doing everything we can to operate as normally as possible in these extraordinary times, while at the same time minimising the risk of exposure to our patients or indeed our practice. </p>

      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 col-md-8 mx-auto">
      <h3 class="">Next steps:</h3>
      <ul>
        <li>On receipt of the form, one of the practice doctors or nurses will contact you to confirm receipt and clarify any issues via phone consultation if needed</li>
        <li>If you meet the current criteria for Covid-19 testing as outlined by Health Protection Surveillance Centre Guidelines, we will submit an e-referral to request Covid-19 testing to the National Ambulance Service (NAS).</li>
        <li>We will send you a text message to confirm that the referral has been sent.</li>
        <li>NAS will contact you directly to arrange this and give further information. <b>This may take a number of days depending on demand and we have no way of speeding this up, please be patient.</b></li>
        <li><b>If your symptoms worsen whilst you are awaiting testing, please contact us so we can further evaluate your status.</b></li>
        <li>While you are awaiting for us to contact you, <b>please, please, please self-isolate at home</b> to help slow the spread of the virus. </li>
        <li><b>Please do not come in to the practice as you risk passing on infection to other patients and our staff.</b></li>
      </ul>
      <h5 class="mt-4" style="font-weight:400;">Please be sensible and follow all official advice coming from HSE and public health. Please avoid putting any vulnerable groups in the population at increase risk unnecessarily. ﻿</h5>
      <h5 class="mt-4" style="font-weight:400;">Please look out for each other, especially any older and more isolated friends and family. Practice social distancing, cover your coughs and sneezes. Most importantly, wash your hands. And then wash them some more!</h5>
    </div>
  </div>
  <div class="row">

    <div class="col-12 col-md-8 mx-auto">
      <p><i>*Please note, by completing this form you consent for your data to be sent by automated email to your GP practice’s nominated email account. No personal data is stored on this website or website provider to the website author’s knowledge. If you do not receive a response to your query, please contact your GP practice directly. The website author takes no responsibility for incorrect details provided by your GP practice. </i></p>
    </div>
  </div>
</div>
