<main id="content" role="main">
  <div class="container space-1">
    <div class="row justify-content-md-between align-items-center">
      <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
        <h1 class="display-4 font-size-md-down-5 mb-3">COVID-19 GP Screening Form</h1>
        <p>
          Online GP screening forms to facilitate patient screening for <span class="text-primary">COVID-19</span>
        </p>

        <div class="d-flex align-items-center flex-wrap">
          <%= link_to "Add My Practice", new_practice_registration_path, class: "btn btn-soft-primary btn-wide transition-3d-hover" %>
          <!-- End Fancybox -->
        </div>
      </div>

      <div id="SVGellipseMockupMobile" class="col-md-6 mb-7">
        <!-- SVG Mockup -->
        <figure class="ie-ellipse-mockup">
          <img class="js-svg-injector" src="<%= image_url('svg/illustrations/ellipse-mockup.svg') %>" alt="Image Description"
               data-img-paths='[
                 {"targetId": "#SVGellipseMockupImg1", "newPath": "<%= image_url('header5.jpg') %>"}
               ]'
               data-parent="#SVGellipseMockupMobile">
        </figure>
        <!-- End SVG Mockup -->
      </div>
    </div>
  </div>

  <div class="container space-md-1 space-bottom-md-3">
  	<!-- Title -->
  	<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
  		<h2 class="text-primary">How It
  			<span class="font-weight-semi-bold">Works</span>
  		</h2>
  		<p>Four simple steps to allow easy patient screening for COVID-19</p>
  	</div>
  	<!-- End Title -->

  	<div class="row">
      <div class="col-12 col-md-10 mx-auto">
        <div class="row">
          <div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">01.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Initial Contact</h3>
      					<p>Patient contacts the practice looking for testing.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">02.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Online Screening Form</h3>
      					<p>Reception shares website link by email, website, or text message and directs the patient to fill this in.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">03.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Direct Information</h3>
      					<p>This generates a form which is emailed directly to the practice email account.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>

      		<div class="col-sm-6 col-lg-6 mb-7 mb-sm-0">
      			<!-- Icon Blocks -->
      			<div class="media">
              <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-3">
                <span class="btn-icon__inner font-weight-semi-bold">04.</span>
              </span>
      				<div class="media-body">
      					<h3 class="h6">Patient Notes</h3>
      					<p>This can be copied and pasted into the patient’s chart, allowing the GP to then add notes and refer the patient on for testing via Healthlink if appropriate.</p>
      				</div>
      			</div>
      			<!-- End Icon Blocks -->
      		</div>
        </div>

        <div class="row">
          <div class="col-12 text-center mt-7">
            <div class="">
              <%= link_to "Add My Practice", new_practice_registration_path, class: "btn btn-soft-primary btn-wide transition-3d-hover" %>
              <!-- End Fancybox -->
            </div>
          </div>

        </div>
      </div>



  	</div>
  </div>

</main>
