
<footer class="container ">
  <hr>
    <div class="border-bottom space-1">
      <div class="row mb-7">
        <div class="col-lg-3 mb-4 mb-lg-0">
          <div class="d-inline-flex align-self-start flex-column h-100">
            <!-- Logo -->
            <a class="d-flex align-items-center mb-3" href="/" aria-label="Front">
              <span class="brand brand-primary" style="font-size:1.4em;font-weight:400;"><i class="fad fa-paste mr-1"></i> Screening Form</span>
            </a>
            <!-- End Logo -->
            <p class="text-muted"><small>Copyright & All Rights Reserved</small></p>


          </div>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-md-0">


        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-md-0">

        </div>

        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 mb-md-0">
          <h4 class="h6 font-weight-semi-bold">Resources</h4>

          <!-- List Group -->
          <ul class="list-group list-group-flush list-group-borderless mb-0">
            <li>
              <%= link_to "Terms & Conditions", "https://www.rapicmedical.com/terms", target: "_blank", class: "list-group-item list-group-item-action" %>
            </li>
            <li>
              <%= link_to "Privacy Policy", "https://www.rapicmedical.com/privacy", target: "_blank", class: "list-group-item list-group-item-action" %>
            </li>
          </ul>
          <!-- End List Group -->
        </div>

        <div class="col-md-3 col-lg-2">
          <h4 class="h6 font-weight-semi-bold">Contact</h4>

          <!-- Address -->
          <address>
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li class="list-group-item">086 8621090</li>
              <li class="list-group-item">
                <a href="mailto:support@gpbuddy.ie">support@gpbuddy.ie</a>
              </li>
            </ul>
          </address>
          <!-- End Address -->
        </div>
      </div>
    </div>

  </footer>
