

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <%= stylesheet_link_tag "application-mailer", media: "all" %>
 </head>
 <!-- Edit the code below this line -->
 <body class="bg-light">
    <div class="container mb-7">


      <%= yield %>



      <div class="text-center text-muted">Screening Form</div>
      <div class="text-center text-muted">For support call 086 8621090 or email support@gpbuddy.ie</div>
    </div>

 </body>
</html>
