<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mb-4 mt-4">
        <h3>Thank you! <%= @practice_form.practice.practice_name %> have received your submission.</h3>
      </div>

      <div class="mb-4">
        <p class="mb-2">Next steps:</p>
        <ul>
          <li>On receipt of the form, your GP surgery will contact you to confirm receipt and clarify any issues via phone consultation if needed and will tell you whether you meet the current criteria for Covid19 and the next steps.</li>
          <li>While you are waiting for your GP to contact you, please self-isolate at home to help slow the spread of the virus.  The current advice for self isolation can be found here (<%= link_to "https://www.hpsc.ie/a-z/respiratory/coronavirus/novelcoronavirus/guidance/selfisolationathome/", "https://www.hpsc.ie/a-z/respiratory/coronavirus/novelcoronavirus/guidance/selfisolationathome/" %>)</li>
          <li>Not all people who fit the case definition as a suspected case of  Covid19 will require testing.  If you meet the current criteria as outlined by Health Protection Surveillance Centre Guidelines, your GP will submit an e-referral to request Covid-19 testing to the HSE.</li>
          <li>Testing does not influence the clinical course of the illness and the advice is to self-isolate at home. If you are referred for testing, you will be contacted directly by the HSE to arrange a date, time and location for this. This may take a number of days depending on demand.  <b>Please note, your GP cannot influence when you will be tested and is unable to speed up the process.</b></li>
          <li>If your symptoms worsen, please contact your GP practice so they can further evaluate your status.  If you have severe symptoms, consider calling an ambulance.</li>
          <li>Please do not come to your GP practice as you risk passing on infection to other patients and staff.</li>
        </ul>
      </div>


      <p class="mb-4"><b>Please be sensible and follow all official advice coming from HSE and public health.</b></p>

      <p class="mb-4"><b>Please avoid putting any vulnerable groups in the population at increased risk unnecessarily. ﻿</b></p>

      <p><b>Please look out for each other, especially any older and more isolated friends and family. Practice social distancing, cover your coughs and sneezes. Most importantly, wash your hands. And then wash them some more!</b></p>

    </div>
  </div>
</div>
