<p class="mb-7">Hello,</p>

<p class="mb-2">Your practice has been successfully signed up to screeningform.com to enable you to quickly and efficiently screen potential covid-19 patients. All completed forms will besent to this email address.</p>
<p class="mb-7">The URL for your unique screening form is <%= link_to "https://screeningform.com/#{@practice.slug}", "https://screeningform.com/#{@practice.slug}" %> and this can be shared with potential patients immediately. Please make sure to always check your email spam and junk folders as due to high volume of emails this can occur.</p>

<p>Kind regards, <br/>The Screening Form Team</p>
